.sidebar {
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    background-color:#343a40;
    color: white;
}

.sidebar-header {
    padding: 20px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu-item a, span {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: #343a40;
}

.sidebar-menu-item a:hover {
    background-color: #23272b;
    text-decoration: none;
}

.main {
    display: flex;
    width:80%;
        flex-direction: row;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        height: 100vh;


}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
    }

    .main {
        margin-top: 100px;
        width: 100%;
        height: auto;
    }
}

.saudacao{
    padding: 10px 20px;
}

.content {
    padding: 20px;
    display:flex;
    align-items: center;
}

.tabela-chamados-criados {
    border-collapse: collapse;
    width: 100%;
}

.estrutura-tabela {
    border: 1px solid black;
    padding: 8px;
}

body {
    background-color: #f8f9fa;
}

.login-container {
    margin-top: 100px;
}

.login-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form-header {
    text-align: center;
    margin-bottom: 30px;
}

.login-form-header h2 {
    color: #333333;
}

.login-form-footer {
    text-align: center;
    margin-top: 20px;
}

.color-image{
    width: 100px;
}

.paddings{
    padding-top: 100px;
    padding-left: 100px;
}

.custom-column {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 10px 10px;
      width:100%;
}
@media (max-width: 800px){
      .custom-column {
         flex-direction: column;
         justify-content: space-evenly;
         justify-item: center;
      }
    }

.col-no-width {
  flex: 0 0 auto;
}


